@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: #606060;
}
/*Feature*/
.feature.home{
	background: url("images/web-art1.png");
	background-repeat: no-repeat;
	bacground-size: cover;
	background-position: center center;
	height: 600px;
	width: auto;
	box-shadow: 0 20px 50px rgba(0,0,0, 0.9);
}
.banner .logo{
	height: 100%;
	width: auto;
	margin: 0 3%;
}
/* --Blockquote-- */
.quote{
	height: auto;
	overflow: hidden;
    padding-bottom: 30px;
    background: rgba(96, 96, 96, 0.5);
}
blockquote{
	font-size: 40px;
    position: relative;
	bottom: -40px;
    color: #ecedef;
    line-height: 1.5em;
    text-align: center;
	text-shadow: 2px 2px #2d2d2d;
	justify-content: center;
}
/* --Navigation-- */
.navbar{
	width: 100%;
	height: 50px;
	background: #606060;
	opacity: 0.8;
	position: fixed;
	top: 0;
	z-index: 10;
}
.navbar ul{
	display: flex;
	margin: 0 auto;
	padding: 0 auto;
	float: right;
}
.navbar ul li{
	list-style: none;
	margin: 0 auto;
}
.navbar ul li a{
	display: block;
	color: #ecedef;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-family: "bureau-grot";
	line-height: 50px;
	width: auto;
}
.navbar ul li a.active{
	background: #ecedef;
	color: #606060;
}
.navbar ul li a:hover{
	background: #ecedef;
	color: #606060;
	transition: 0.5s;
}
input[type=checkbox]{
	display: none;
}
input[type=checkbox]:checked ~ .nav{
	display: block;
}
.toggle{
	font-family: "bureau-grot";
	text-decoration: none;
	text-align: center;
	color: #ecedef;
	padding: 10px 0;
	font-weight: 900;
	display: none;
	line-height: 50px;
}
/* --Main section-- */
.main{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "canada-type-gibson";
}

/* --Landing page cards-- */
.container.home{
	width: 90%;
	position: relative;
	display: flex;
	justify-content: space-between;
}
.container.home .card{
	position: relative;
}
.container.home .card .face{
	width: 300px;
	height: 200px;
	transition: 0.5s;
}
.container.home .card .face.face1{
	position: relative;
	background: #606060;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
}
.container.home .card:hover .face.face1{
	background: #ee374d;
	transform: translateY(0);
}
.container.home .card .face.face1 .content{
	opacity: 0.2;
	transition: 0.5s;
}
.container.home .card:hover .face.face1 .content{
	opacity: 1;
}
.container.home .card .face.face1 .content img{
	max-width: 100px;
}
.container.home .card .face.face1 .content h3{
	margin: 10px 0 0;
	padding: 0;
	color: #ECEDEF;
	text-align: center;
	font-size: 1.5em;	
}
.container.home .card .face.face2{
	position: relative;
	background: #ECEDEF;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
	transform: translateY(-100px);
}
.container.home .card:hover .face.face2{
	transform: translateY(0);
}
.container.home .card .face.face2 .content p{
	margin: 0;
	padding: 0;	
}
.container.home .card .face.face2 .content a{
	margin: 15px 0 0;
	padding: 5px;
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	color: #606060;
	border: 1px solid #333;
}
.container.home .card .face.face2 .content a:hover{
	background: #606060;
	color: #ECEDEF;
}

/* --Page cards (other)-- */
.container.misc{
	width: 90%;
	position: relative;
	display: block;
	justify-content: space-between;
}
.container.misc .card .face.face4{
	position: relative;
	width: auto;
	height: auto;
	transition: 0;
	margin: 2%;
	padding: 2%;
}
.container.misc .card .face.face4 .content{
	position: relative;
	background: #ecedef;
	display: block;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
}
.container.misc .card .face.face4 .content img{
	float: left;
	border-radius: 50%;
	width: 30%;
	height: 30%;
}
.container.misc .card .face.face4 .content h3{
	margin: 1%;
	padding: 1%;
	text-align: center;
}
.container.misc .card .face.face4 .content h4{
	margin: 1% auto;
	padding: 1% auto;
	font-size: 0.9em;
	font-weight: 600;
	text-decoration-line: underline;
}
.container.misc .card .face.face4 .content p{
	display: flex;
	margin: 1%;
	padding: 1%;
}
/* --Footer-- */
.footer{
	display: flex;
	height: 100px;
	width: 100%;
	margin: 0 auto;
	background-color: #ecedef;
	color: #606060;
	font-size: 0.8em;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	position: static;
	justify-content: space-between;
}
.footer .social ul{
	display: flex;
	margin: 0 auto;
	padding: 0 auto;
	float: left;
	margin-right: 20%;
}
.footer .social ul li{
	list-style: none;
}
.footer .social ul img{
	height: 50px;
	width: 50px;
	margin: 10px 15px;
}
.footer .contact{
	padding: 10px 20px;
}
.footer .contact a{
	display: flex;
	text-decoration: none;
	justify-content: center;
	align-content: center;
	color: #606060;
}
.footer .copy{
	float: right;
}

/* --For smaller phone devices-- */
@media screen and (min-width: 300px) and (max-width: 599px) and (orientation: portrait){
	/* Banner */
	.banner .logo{
		width: auto;
		clear: left;
		margin: 0;
	}
	/* Navigation */
	.navbar ul{
		display: none;
		position: static;
	}
	.navbar li a{
		background-color: #606060;
		opacity: 0.8;
		width: 100%;
	}
	.navbar ul li, .navbar li a{
		width: 100%;
		float: right;
	}
	.toggle{
		display: block;
		top: 0;
		float: right;
	}
	/*Splash feature */
	.feature{
		height: 200px;
	}
	blockquote{
		font-size: 40px;
	}
	/* Main section */ 
	.container.home{
		width: auto;
		display: block;
	}
	/* Footer */
	.footer{
		height: auto;
		background-size: cover;
	}
	.footer .social{
		margin-right: 0;
	}
	.footer .social ul{
		display: block;
	}
	.footer .social ul img{
		height: 20px;
		width: 20px;
		margin: 0 auto;
	}
	.footer .contact{
		padding: 0;
	}
	.footer .contact a{
		display: block;
	}
}
/* --For larger phones and portrait tablets-- */
@media only screen and (min-width: 600px) and (max-width: 1023px){
	/* Logo */
	.banner .logo{
		clear: left;
	}
	/* Navigation */
	.navbar ul{
		display: none;
		position: static;
		margin: 0;
	}
	.navbar li a{
		background-color: #606060;
		opacity: 0.8;
		width: 100%;
	}
	.navbar ul li, .navbar li a{
		width: 100%;
		float: right;
	}
	.toggle{
		display: block;
		top: 0;
		float: right;
	}
	/* Splash feature */
	.feature{
		height: 400px;
	}
	blockquote{
		font-size: 40px;
	}
	/* Main section */
	.container.home{
		width: auto;
		display: block;
	}
	/* Footer */
	.footer{
		height: auto;
		background-size: cover;
	}
	.footer .social{
		margin-right: 0;
	}
	.footer .social ul{
		display: block;
	}
	.footer .social ul img{
		height: 30px;
		width: 30px;
		margin: 0 auto;
	}
	.footer .contact{
		padding: 0;
	}
	.footer .contact a{
		display: block;
	}
}
